<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post , class: "form-signin", role: "form"}) do |f| %>
  <%= devise_error_messages! %>
  <h2 class="form-signin-heading">Send reset password instruction</h2>

  <%= f.email_field :email, autofocus: true, placeholder: "Email address", required: true, class: "form-control" %>

  <div><%= f.submit "Reset password", class: "btn btn-lg btn-primary btn-block" %></div>
<% end %>

<style>

  body {
    /*background-color: #eee;*/
  }

  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 30px;
  }
  .form-signin .checkbox {
    font-weight: normal;
  }
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }


</style>