<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "banner1.png" %>
      <div class="carousel-caption">
        แคปชั่นอะไรดี
      </div>
    </div>
    <div class="item">
      <%= image_tag "banner2.png" %>
      <div class="carousel-caption">
        Bootstrap จงเจริญ
      </div>
    </div>
    <div class="item">
      <%= image_tag "banner3.png" %>
      <div class="carousel-caption">
        ออกไปเที่ยวกันเถอะ
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<div class="container">
cccvlkfvlkdmfvlkv<br>
dfvdfdfvdfvlkdmfvlkfvlkdmfvlkv<br>
dfvdfdfvdfvlkdmfvlkfvlkdmfvlkv<br>
dfvdfdfvdfvlkdmfvlkfvlkdmfvlkv<br>
dfvdfdfvdfvlkdmfvlkfvlkdmfvlkv<br>
dfvdfdfvdfvlkdmfvlkfvlkdmfvlkv<br>
dfvdfdfvdfvlkdmfvlkfvlkdmfvlkv<br>
dfvdfdfvdfvlkdmfvlkfvlkdmfvlkv<br>
dfvdfdfvdfvlkdmfvlkfvlkdmfvlkv<br>
dfvdfdfvdfvlkdmfvlkfvlkdmfvlkv<br>
dfvdfdfvdfvlkdmfvlkfvlkdmfvlkv<br>
dfvdfdfvdfvlkdmfvlkfvlkdmfvlkv<br>
</div>

<style>
  .carousel {
    position: relative;
    /*display: block;*/
    display: none;

  }
  .carousel img {
    /*position: absolute; 900 500*/
    /*top: 0;*/
    /*left: 0;*/ 
    min-width: 100%;
    max-height: 300px;
    min-height: 300px;
  }
</style>