<!DOCTYPE html>
<html>
	<title>Category</title>
		
<body>
<h1>CATEGORY NAME</h1>
<table width="500" border="0">
  <tr>
    <td width="250"><button>FILTER</button></td>
    <td width="250" >SORT BY: <button>sorted type</button></td>
  </tr>
</table>
<br>
<table width="200" border="0">
  <tr>
    <td>[[PIC]]</td>
    <td>DESC</td>
  </tr>
</table>
<br>
<table width="200" border="0">
  <tr>
    <td>[[PIC]]</td>
    <td>DESC</td>
  </tr>
</table>
<br>
<table width="200" border="0">
  <tr>
    <td>[[PIC]]</td>
    <td>DESC</td>
  </tr>
</table>
<br>
<table width="200" border="0">
  <tr>
    <td>[[PIC]]</td>
    <td>DESC</td>
  </tr>
</table>
<br>
<table width="200" border="0">
  <tr>
    <td>[[PIC]]</td>
    <td>DESC</td>
  </tr>
</table>
</body>

</html>