<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>SABAII SOFT</title>
	
</head>
<body class="body" >

	<div class = "header">
		<p><b>SHOPNAME</b></p>
		 
	</div>
	<div class = "block" style = "background :#F9D1F8;padding:100px;">
		<p><center>PROMOTION<center></p>
	</div>
    <div  class = "block" style = "background :white;height:260px">
		 <div class = "squareL"></div>
		 <div class = "squareR"></div>
	</div>
	<div class = "block" style = "background :white;height:125px">
		 <div class = "banner"></div>
	</div>
    <div class = "block" style = "background :white;height:200px">
		 <div class = "squareL"></div>
		 <div class = "squareR"></div>
	</div>
	<div class ="block" style = "background :white;height:400px">
		 <div class = "squareL"></div>
		 <div class = "squareR"></div>
	</div>
   


</body>
</html>

<style>
.body{
	background: black; 
	margin: 0px;

}
.squareL
{

	background:#E43B8C;
	 width: 35%;
	 height: 200px;
	 margin-left:10%;
	 margin-right:5%;
	 margin-top:30px;
	 float:left
}
.squareR{
	background:#E43B8C;
	width: 35%;
	height: 200px;
	margin-left:5%;
	margin-right:10%;
	margin-top:30px; 
	float:left;
}
.header
{
	background :#E43B8C;
	margin-left:20%;
	margin-right:20%;
	height:50px;
	padding:5px;
	margin-top:0px;
}
.header2
{
	background :#E43B8C;
	height:50px;
	padding:5px;
	margin-top:0px;
	margin-right:20%;
	float: right;
}
.banner
{
	 background:#F0B7EA;
	 width:80%;
	 height: 100%;
	 margin-right:10%;
	 margin-left:10%;

}
.block
{
	margin-left:20%;
	margin-right:20%;
}
</style>

