<!DOCTYPE html>
<html>
	<title>Product</title>
		
<body>
	<h1>PRODUCT</h1>
<table width="500" border="0">
  <tr>
    <td valign="top"><table width="250" border="0">
      <tr>
        <td align="center">[[PICTURE]]</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><button>OPTION 1</button></td>
      </tr>
      <tr>
        <td><button>OPTION 2</button></td>
      </tr>
    </table></td>
    <td><table width="250" border="0">
      <tr>
        <td colspan="2">PRODUCT DESCRIPTION</td>
        </tr>
      <tr>
        <td colspan="2">
          <p>desc desc desc desc desc desc</p>
          <p>desc desc desc desc desc desc</p>
          <p>desc desc desc desc desc desc</p>
          </td>
        </tr>
      <tr>
        <td width="125"><button>ADD TO CART</button></td>
        <td width="125"><button>ADD TO WISHLIST</button></td>
      </tr>
      <tr>
        <td colspan="2"></button>BACK</button></td>
        </tr>
    </table></td>
  </tr>
</table>
</body>		

</html>