<html lang="en">
	<head>
		<title>Product Page</title>
	</head>
	<body>
		<div id="wrap" style="margin-left:20%; margin-right:20%; background:#A9F5E1">
			<div id="navi-tab" style="height:80px; padding:5px; background:#81BEF7">
				<h2 style="float:left">SHOP_NAME_HERE</h2>
				<button class="button" style="float:right; padding:5px; margin-left:5px; margin-top:5px">Log In</button>
				<button class="button" style="float:right; padding:5px; margin-left:5px; margin-top:5px">Cart</button>
				<button class="button" style="float:right; padding:5px; margin-left:5px; margin-top:5px">Wish List</button>
			</div>
			<div id="header">
				<h1 style="margin-left:5%">Sample Product</h1>
			</div>
			<div id="product-pic" style="display:inline-block; margin-right:5%; margin-left:5%">
				<img src="https://pbs.twimg.com/profile_images/524768329324457984/7hOdF6-N_400x400.png" alt="product-picture" style="width:300px; height:300px; float:left">
			</div>
			<div id="product-des" style="float:right; background:#F8FBEF; width:660px; margin-right:5%">
					<h1>Product Description</h1>
					<p>This is a sample product description</p>
					<p>Which is somehow very simple</p>
					<p>Provide with basic information</p>
					<p>And also any available extra data</p>
					<p>For the customer and the owner</p>
			</div>
			<div id="menu" style="float:right; padding:5px; margin-right: 10%">
				<button class="button" style="padding:20px">Add to Wishlist</button>
				<button class="button" style="padding:20px">Add to Cart</button>
				<button class="button" style="padding:20px">Back</button>
			</div>
			<div id="options-a" style="margin-left:10%; margin-right:5%">
					<select style="padding:20px; margin-top:5px; margin-bottom:5px">
						<option value="1A">Option1_A</option>
						<option value="1B">Option1_B</option>
						<option value="1C">Option1_C</option>
						<option value="1D">Option1_D</option>
					</select>
				</div>
				<div id="options-b" style="display:inline-block; margin-left:10%; margin-right:5%">
					<select style="padding:20px; margin-top:5px; margin-bottom:5px">
						<option value="2A">Option2_A</option>
						<option value="2B">Option2_B</option>
						<option value="2C">Option2_C</option>
						<option value="2D">Option2_D</option>
					</select>
				</div>
		</div>
	</body>
</html>