<br>
<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Filter <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Wearable</a></li>
          <li><a href="#">Power Supply</a></li>
          <li><a href="#">Tent</a></li>
          <!-- <li class="divider"></li> -->
        </ul>
      </div><!-- /btn-group -->
      <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <span class="glyphicon glyphicon-search">
        </button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->