<!DOCTYPE html>
<html>
	<title>Profile</title>
		
<body>
	<h1>PROFILE</h1>
	
<table width="500" border="0">
  <tr>
    <td>&nbsp;</td>
    <td align="right"><button>EDIT</button></td>
  </tr>
  <tr>
    <td valign="top"><table width="250" border="0">
      <tr>
        <td align="center">[[PRO PICTURE]]</td>
      </tr>
    </table></td>
    <td><table width="250" border="0">
      <tr>
        <td width="250">USER INFORMATION</td>
        </tr>
      <tr>
        <td>
          <p>info info info info info info info info</p>
          <p>info info info info info info info info</p>
          <p>info info info info info info info info</p>
          <p>info info info info info info info info</p>
          <p>info info info info info info info info</p>
          </td>
        </tr>
    </table></td>
  </tr>
</table>
</body>	

</html>