<html lang="en">
	<head>
		<title>Sales Record</title>
	</head>
	<body>
		<div id="wrap" style="margin-left:20%; margin-right:20%; background:#A9F5E1">
			<div id="navi-tab" style="height:80px; padding:5px; background:#81BEF7">
				<h2 style="float:left">SHOP_NAME_HERE_ADMIN</h2>
				<button class="button" style="float:right; padding:5px; margin-left:5px; margin-top:5px">Log In</button>
				<button class="button" style="float:right; padding:5px; margin-left:5px; margin-top:5px">Cart</button>
				<button class="button" style="float:right; padding:5px; margin-left:5px; margin-top:5px">Wish List</button>
			</div>
			<div id="sales-record" style=" background:#F8FBEF; width:900px; height:400px; margin-top:5%; margin-left:10%">
				<div id="info">
					<table border="1" style="width:100%">
						<tr>
							<th>PRODUCT_NO</th>
							<th>PRODUCT_NAME</th>
							<th>PRODUCT_DESCRIPTIONNNNNNNNNNNNNNNNN</th>
							<th>TOTAL_AMOUNT</th>
						</tr>
						<tr>
							<td>1</td>
							<td>Item_A</td>
							<td>SO_GOOD</td>
							<td>10</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Item_B</td>
							<td>SO_BAD</td>
							<td>20</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Item_A</td>
							<td>SO_WORST</td>
							<td>30</td>
						</tr>
					</table>
			</div>
		</div>
	</body>
</html>