<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>SHIPPING ADDRESS</title>
	
</head>
<body style = "background: black; margin: 0px">
	<center>
		<div style = "margin: 0px;padding: 100px;display: inline-block;width: 60%">
			<div style = "background: lightgreen;padding: 5px; ">
			<p style="text-align: left;">SHOPNAME
				<button>
					wishlist
				</button>
				<button>
					cart
				</button>
				<button>
					login
				</button>
			</p>
			</div>
			<div style = "background: white;margin: 0px;height: 600px;text-align: left;">
				SHIPPING ADDRESS
				<button style = "width = 30%">
				ADDRESS 1
				</button>
				<button class="butt" ;style = "width = 30%">
				ADDRESS 2
				</button>
				<button style = "width = 33.33%">
				ADDRESS 3
				</button>
				<div style = "background: lightgrey; height: 450px">
					<p style="text-align: left;">
						select country
						<select>
							<option>Thailand</option>
							<option>Indonesia</option>
							<option>Laos</option>
						</select>
					</p>
					<p style="text-align: left">
						select city
						<select>
							<option>Bangkok</option>
							<option>Nakornnayok</option>
							<option>Petchburi</option>
						</select>
					</p>
					<p style="text-align: left">
						select province
						<select>
							<option>Bangkhen</option>
							<option>Ladprao</option>
							<option>Phayathai</option>
						</select>
					</p>
					<p style="text-align: left">
						house No.
						<textarea></textarea>
					</p>
					<p style="text-align: left">
						village
						<textarea></textarea>
					</p>
					<p style="text-align: left">
						moo
						<textarea></textarea>
					</p>
					<p style="text-align: left">
						road
						<textarea></textarea>
					</p>
					<p style="text-align: left">
						postal code
						<textarea></textarea>
					</p>
					<p style="text-align: left">
						select region
						<select>
							<option>Central</option>
							<option>North-East</option>
							<option>South</option>
							<option>North</option>
							<option>West</option>
							<option>East</option>
						</select>
					</p>
				</div>
				<button style = "width = 30%">
				BACK
				</button>
				<button class="butt" ;style = "width = 30%">
				NEXT
				</button>
			</div>
		</div>
	</center>
</body>
</html>