<div class="page-header">
  <h1>Profile</h1>
</div>
  
<p class="lead">
  <%= current_member.email %>
</p>


<div class="row">
  <div class="col-md-5">
    <div class="panel panel-default mPanel">
      <div class="panel-heading">Sign up date</div>
      <table class="table">
        <tr><td><%= current_member.created_at.strftime("%d %B %Y %I:%M%p") %></td></tr>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <div class="panel panel-default mPanel">
      <div class="panel-heading">Last login</div>
      <table class="table">
        <tr><td><%= current_member.last_sign_in_at.strftime("%d %B %Y %I:%M%p") %></td></tr>
        <tr><td><%= current_member.last_sign_in_ip %></td></tr>
      </table>
    </div>
  </div>
</div>
