body { 
  padding-top: 70px;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  height: 60px;
  clear:both;
  padding-top:20px;
  background: #e7e7e7;
} 