body { 
  padding-top: 70px;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  margin-bottom: 60px;
}

.footer {
  position: relative;
  height: 60px;
  margin-top: -60px;
  clear:both;
  padding-top:20px;
  background: #e7e7e7;
}

.cart {
  cursor: pointer;
  // margin: 15px;
  padding-left: 15px; 
}

.order-item {
  display: block;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border-radius: 9px;
  width: 95%;
  background: #f2f2f2;
  padding: 2px;
  margin-bottom: 2px;
  height:25px;
}

.i-left {
  float: left;
}

.i-right {
  float: right;
}

.i-name {
  text-align: right;
  display: inline-block;
  background: white;
  padding: 0px 10px 0px 10px;
  width: 112px;
  margin-left: 2px;
}

.i-quantity {
  text-align: right;
  display: inline-block;
  background: white;
  padding: 0px 6px 0px 10px;
  width: 35px;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}

.i-icon {
  cursor: pointer;
  border-radius: 8px;
  background: white;
  display: inline-block;
  padding: 0px 6px 1px 5px;
}

.small-icon {
  font-size: 10px;
}

.cart-popup {
  padding-top: 30px;
  text-align: center;
  position: fixed;
  top: 60px;
  right: 30px;
  width: 250px;
  height: 300px;
  border-radius: 10px;
  background: #ececec;
  border: 1px solid #ececec;
  // box-shadow: 0px 0px 5px $color-a;
  z-index: 5000;
  display: none;
}

.cart-popup:after {
  content: "";
  position: absolute;
  right: 10px;
  top: -15px;
  border-style: solid;
  border-width: 0px 15px 18px;
  border-color: #ececec transparent;
  display: block;
  width: 0;
}